:root
{
    --blackBl:#000E29;
    --colorCirRed:#FF4545 ;
    --colorCirbl:#45FFF4 ;
    --colorCirYe:#FFE608 ;
    --colorCirPin:#ED00F2 ;
}
body
{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;

    background-color: #000E29;
    margin: 0;
}
.container
{
    width: 1280px;
    margin: 0 auto ;
}
.rectangle1
{
    position: absolute;
    width: 280.19px;
    height: 280.19px;
    left: 1250.67px;
    top: -150.13px;

    background: #ED00F2;
    box-shadow: 0px 0px 20px 2px #ED00F2;
    transform: rotate(-32.58deg);
}